---
interface Props {
  description?: string;
  date?: string;
  type?: string;
  subtitle: string;
}

const { description, date, type, subtitle } = Astro.props;

title: "Rocío Marivel Díaz Zavala";
date: "2023-11-05";
author: "Rocío Marivel Díaz Zavala";
---

<!-- <div
  class="flex flex-col bg-white overflow-hidden shadow-md rounded-lg hover:-translate-y-2 transition-transform duration-700"
>
  <div class="h-1 bg-purple-500"></div>
  <div class="p-5 flex-grow">
    <h3 class="mb-5">
      {title}
    </h3>
    <p class="text-sm font-light">
      {description}
    </p>
  </div>

  <div class="flex justify-between items-center p-5">
    <span class="font-light hidden lg:block text-sm text-neutral-500"
      >{date}</span
    >
    <span
      class="bg-purple-700 rounded-full text-white text-xs font-bold px-3 py-2 leading-none flex items-center"
      >{type}</span
    >
  </div>
</div> -->
<div
  class="flex flex-col overflow-hidden shadow-md bg-white rounded-lg hover:-translate-y-2 transition-transform duration-700 min-h-[250px]"
>
  <div class="h-1 bg-fuchsia-500"></div>
  <div class="flex flex-grow items-center justify-center py-5 px-7">
    <p class="text-sm">
      {description}
    </p>
  </div>
  <div class="pb-5 px-5">
    <span class="block opacity-75 -mb-1 text-base">{subtitle}</span>
    <div class="flex justify-between">
      <span class="block font-bold text-lg">{type}</span>
      <span
        class="bg-fuchsia-800 rounded-full text-white text-xs font-bold px-3 py-2 leading-none flex items-center"
        >{date}</span
      >
    </div>
  </div>
</div>
